# MongoDB Connection String
# For Local: mongodb://localhost:27017/smart_farm_db
# For Atlas: mongodb+srv://<user>:<password>@cluster.mongodb.net/smart_farm_db
MONGODB_URI=mongodb://localhost:27017/smart_farm_db

# Auth Secrets
JWT_SECRET=your_super_secret_local_key_12345
JWT_EXPIRES_IN=30d

# Admin Credentials (Local Demo)
ADMIN_USER=admin
ADMIN_PASS=password123

# Server Config
PORT=5000
NODE_ENV=development
